version: '3.9'
services:
  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/ids
      - PORT=4000
      - JWT_SECRET=devsecret
    ports:
      - '4000:4000'
    depends_on:
      - mongo
volumes:
  mongo_data: {}


